<footer>
    <div id="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="row">
                 <div class="col-md-4" id="para">
                    <p text-center>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex molestiae praesentium est ratione necessitatibus harum cum laborum, quidem nihil nostrum sed, sequi vitae blanditiis pariatur nesciunt accusantium repudiandae optio voluptatem suscipit? Eligendi molestias architecto, eveniet ducimus nihil nisi magnam similique!</p>
                 </div>
                 <div class="col-md-4">
                     <ul> 
                         <li>
                             <a href="">
                                 <h5>HOME</h5>
                             </a>
                             <h5></h5>
                         </li>
                         <li>
                             <a href="">
                                 <h5>GALLERY</h5>
                             </a>
                             <h5></h5>
                         </li>
                         <li>
                             <a href="">
                                 <h5>PAGES</h5>
                             </a>
                             <h5></h5>
                         </li>
                         <li>
                             <a href="">
                                 <h5>FEATURES</h5>
                             </a>
                             <h5></h5>
                         </li>
                         <li>
                             <a href="">
                                 <h5>BLOG</h5>
                             </a>
                             <h5></h5>
                         </li> <li>
                             <a href="">
                                 <h5>CONTACT</h5>
                             </a>
                             <h5></h5>
                         </li>
                     </ul>
                 </div>
                 <div class="col-md-4">
                    <h4>GET IN TOUCH</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis.</p>
                    <p><i class="fa fa-map-marker"></i>&nbsp;&nbsp;Moonshine St. 14/05 Light City</p>
                    <p><i class="fa fa-phone"></i>&nbsp;&nbsp;+00 (123) 456 78 90</p>
                    <p><i class="fa fa-envelope"></i>&nbsp;&nbsp;first.last@email.com</p>
                 </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="copy-right">
      <p class="text-center">© 2015 PhotoStock. All rights reserved. Theme by elemis.</p>
    </div>
 </footer>