<div class="container">
    <nav class="navbar navbar-expand-sm fixed-top navbar-custom">
        <!-- Brand/logo -->
        <a class="navbar-brand" routerLink="/">
                <img src="https://cdn-images-1.medium.com/max/1200/1*-s7H-Ac3yf7I3EA8MJlhWQ.png" alt="logo" style="width:80px;">
        </a>
        
        <!-- Links -->
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
            <a class="nav-link" href="#">MEN</a>
            <div class="dropdown-content">
                <li><a class="" href="#">WOMEN</a></li>
            </div>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">WOMEN</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">KIDS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">HOME & LIVING</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">DISCOVER</a>
            </li> 
        </ul>
        
        <div class="desktop-query form-group">
          <input placeholder="Search for products, brands and more" class="desktop-searchBar form-control">
          <a class="desktop-submit">
              <i class="fa fa-search" aria-hidden="true"></i>
          </a>
        </div>

        <!-- <div class="search-query">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for products, brands and more">
            <div class="input-group-append">
              <button class="btn btn-secondary" type="button">
                <i class="fa fa-search"></i>
              </button>
            </div>
          </div>
        </div> -->

        <div class="user">
            <a routerLink="/signin">
              <p>            
                <i class="fa fa-user" aria-hidden="true"></i><br>
                Login
              </p>
            </a>
        </div>
    
        <div class="wishlist" style="margin-left: 20px;">
          <a routerLink="/wish-list">
            <p>            
              <i class="fa fa-heart" aria-hidden="true"></i><br>             
                Wishlist
            </p>
          </a>
        </div>
    
        <div class="cart" style="margin-left: 20px;">
          <a routerLink="/cart">
            <p>            
              <i class="fa fa-shopping-cart" aria-hidden="true"></i><br>
              Cart
            </p>
          </a>  
        </div>

    
    </nav>
</div>