<div class="container-fluid" id="about-us">
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <div class="row">
          <div class="col-md-6">
             <img src="http://themes.iki-bir.com/lydia/style/images/art/p11-full.jpg" alt="">
          </div>
          <div class="col-md-6">
             <h2 class="text-left">ABOUT US</h2>
             <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas nam expedita eaque culpa illum impedit tempora iste. Iusto sint voluptates vero. Debitis dolorum quam unde est necessitatibus sed tempora quos.</p>
             <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus, sunt. Repudiandae dignissimos ipsum perferendis neque vitae amet, excepturi laboriosam reprehenderit quidem id aspernatur quo blanditiis ab error officia velit beatae. Quas hic odio deleniti nobis excepturi eveniet id? Omnis, dicta.</p>
             <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, corrupti perspiciatis distinctio dolores dolorum minima.</p>
          </div>
        </div>
      </div>
    </div>
</div>