
<div class="container-fluid" id="welcome">
    <div class="row">
      <div class="col-md-10 offset-md-1 text-center">
        <h1>WELCOME! I'M CAITLYN</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, quaerat illo, harum necessitatibus veritatis id repellat nihil possimus dolores, a similique soluta sapiente temporibus inventore magnam nisi? Alias, non doloremque neque, asperiores magnam repellendus dolorum libero, quasi impedit saepe vel!<p>
      </div>
    </div>
</div>